.App {
  text-align: center;
  background-color: #798eb9;
}

.App-logo {
  display: block;
  margin-left: 0%;
  margin-right: auto; 
  width: 100%;
  height : 600px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background: rgb(173, 173, 173);
} */